@import url('https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap');

*{
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: #5C80BC;
  color: #fff;
}
input, button, textarea, select, option, label{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #fff;
}
input::placeholder{
  color: rgba(255,255,255,.3)
}
